*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;    
}
    .card-title{
        text-align: center;
    }

body{
  
    background-color: black;
}

header{
    background-color: #fff8f8;
  justify-content: center;

}
nav a{
    color: black !important; 
    text-decoration: none !important;
    margin-left: 40px !important;
    margin-right: 40px !important;
    font-size: 20px !important;
    text-align: center !important;
}
nav a:hover{
    color: rgb(237, 215, 197) !important;
    
}

.entrar_no_login{
    background-color: rgb(255, 229, 203);
    color: black;
    font-size: 15x;
    cursor: pointer;
padding-left: 7px;
padding-right: 7px;
    border-radius: 10px;

}
.sair{
    background-color: rgb(225, 225, 225) !important;
    color: black;
    font-size: 15px;
    cursor: pointer;
padding-left: 7px;
padding-right: 7px;
border-top-right-radius: 10px ;
border-bottom-right-radius: 10px ;
}
.email{
    background-color: rgb(225, 225, 225) !important;
    color: black;
    font-size: 19px;
 
padding-left: 7px;
padding-right: 7px;
border-top-left-radius: 10px ;
border-bottom-left-radius: 10px ;
}
.sair:hover{
    background-color: rgb(194, 200, 205) !important;
}
.adm{
    background-color: rgb(207, 255, 207) !important;
    color: black;
    font-size: 15x;
    cursor: pointer;
padding-left: 7px;
padding-right: 7px;
    border-radius: 10px;
}
.adm:hover{
    background-color: #acdfbf  !important;
}
.entrar_no_login:hover{
    background-color: rgba(255, 227, 196, 0.848);
    color: black;
}
.linha_vermelha{
    background-color: rgb(138, 92, 24);
    height: 3px;
}

h5{
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.801);
padding: 20px;
border-radius: 19px;
}

.box{
    background-image: url("../../img/img\ fixada.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    filter: grayscale(20%);

}

.fundo{
    background-color: rgb(255, 255, 255);
    color: hsl(0, 0%, 0%);
    text-align: center;
 
}
#Nossa-Historia{
    width: 40%;
    height: 370px;
    border-radius: 10px;
    padding: 75px 20px 30px 50px;
    background-color: rgba(0, 0, 0, 0.729);
    position: absolute;
    margin-top: 31px;
    border: 0.1px solid rgba(0, 0, 255, 0.567);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 60px !important;
    margin-right: 80px;
}
.maps{
margin-left: 600px;
border-radius: 20px;
}

.card{
margin: 5px;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.0rem;
    background-color: rgb(1, 0, 14);
    color: white;
}
.card-group{
    background-color:#f1f1f1;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
    margin-left: 80px;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
    margin-right: 2px;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    text-align: left;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
   
}
.footer-list .footer-link:hover {
    color: #7f37c9;
}

.loc{
    justify-content:right;
}
footer a {
    text-decoration: none;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

h3 {
    display: flex;
    align-items: center;
    justify-content:left;
}

.justimgfooter {
    margin-left: -30px;
}

iframe{
    filter: grayscale(0%);
    width: 450px;
    height: 350px;
    border-radius: 10px;
    margin-left: 125px ;
}

#pergunta{
    font-family:serif;
}
.vender{ 
    background-color:rgb(241, 241, 241);
border-radius: 10px;
box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.286);
padding: 10px;
margin-bottom: 50px;
margin-top: 60px;
}
.um-pouco{
    background-size: cover;
    color: rgb(255, 255, 255);
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.771);
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.compra{
   text-align: left;
   padding: 5px;
   padding-left: 10px;
   font-size: 20px;
}

.categoria{
    width:100%;
    background-color:rgb(255, 253, 238);
    padding: 40px;
    box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.26);
    align-items: center;
    display: flex;
    float:left;
    text-align: center;
    justify-content: center;
}
.categoria a{
    text-decoration: none;
    color: black;
}
.categoria a:hover{
    color: rgb(150, 87, 0);
}
#h1-da-categoria{
    margin-top: 60px !important;
    background-color:rgb(255, 253, 238) !important;
    padding-top: 10px !important;
    padding-left: 20px !important;
    margin-bottom: 0px !important;
    text-align: left !important;
    font-size: 30px !important;
    font-family: Courier New, monospace !important;
}
.categoria h1{
   display: flex !important;
   align-items: center !important;
   justify-content: center;
    text-align: center;
}

.escrita{
    width: 100px;
    height: 100px;
    float:left;
    margin-left: 40px;
    transform: translate(-80px, -30px);
}
.trator{
    background-image: url(../../img/trator-categoria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float:left;
    
}
.pulverizador{
    background-image: url(../../img/pulve-categoria.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
   
}
.seifa{
    background-image: url(../../img/seifa-categoria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}
.plantadeira{
    background-image: url(../../img/plantadeira-categoria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
   
}
.grades-agricola{
    background-image: url(../../img/grade-categoria.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  
}
.subsoladores{
    background-image: url(../../img/subsolador-categoria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  
}
 
.mais-vendido{
    width: 350px;
    padding-bottom: 30px;
    padding-top: 20px;
}
.img-venda{
    height: 300px;
    background-size: cover;
}
.card-img-top{
    height: 300px;
    background-size: cover;
}
